# Deployment Configuration
server:
  image:
    repository: "prefecthq/prefect"
    prefectTag: "2.10.4-python3.11-kubernetes"
  publicApiUrl: "http://192.168.49.2:30420/api"
service:
  type: NodePort
  nodePort: 30420

# Postgresql configuration
postgresql:
  auth:
    password: password
  primary:
    persistence:
      enabled: true
